/*body{
	background-color: blue;
	animation-name: back;
	animation-duration: 30s;
	animation-iteration-count: infinite;
}

@keyframes back{
	0%{ background-color: blue; }
	25%{ background-color: green; }
	50%{ background-color: red; }
	75%{ background-color: yellow; }
	100%{ background-color: blue; }
}*/

*{
	margin: 0;
	padding: 0;
}